<mat-toolbar class="navbar"> 
  <div>
      <mat-icon aria-hidden="false" aria-label="home" routerLink="/home">home</mat-icon>
  </div>
  <div>
      <span>
          <button mat-button >Bed</button>
        </span>
        <span>  
          <button mat-button >Sofa</button>
        </span>
        <span>
          <button mat-button>Dinning</button>
        </span>
        <span>
          <button mat-button >Chair</button>
        </span>
  </div>
  <div>
  <span>
    <button mat-button>About</button>
  </span>
  <span>  
    <button mat-button routerLink="/contactus">ContactUs</button>
  </span>
</div>
</mat-toolbar>