.toolBar{
    margin: 0px 5px 0px 5px;
    background-color: blueviolet;
}
.example-container {
    width: 1400px;
    height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 50px;
  }

  mat-card{
    padding: 15px 35px;
  }
  .slider{
    margin-top: 3%;
  }

  .grid{
    margin-top: 10%;
  }

  .imageGrid{
    background-color: rgb(249, 247, 238);
    margin-right: 35%;
  }
  mat-grid-list{
    margin-top: 25%;
  }
  .seeMoreLabel{
    text-align: center;
    margin-top: 2%;
    cursor: pointer;
  }